@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.bio-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 60%;
    align-self: center;
    background-color: white;
}

img {
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}