@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
#post-title {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    border: solid;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px;
    font-style: normal;
    font-family: 'Signika', sans-serif;
    margin-left: 30px;
    position: relative;
    top: 10px;
    display: flex;
}

#time {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}

#card {
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#author {
    margin-left: 10px;
}
