@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
h1 {
    font-size: 60px;
    font-family: 'Signika', sans-serif;
}

.body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -15px;
}